# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/CheckMate.App/node_modules
/CheckMate.App/npm-debug.log
/CheckMate.App/yarn-error.log
/CheckMate.App/.editorconfig
/CheckMate.App/.angular


# IDEs and editors
/CheckMate.App/.idea/
/CheckMate.App/.project
/CheckMate.App/.classpath
/CheckMate.App/.c9/
/CheckMate.App/*.launch
/CheckMate.App/.settings/
/CheckMate.App/*.sublime-workspace

# Visual Studio Code
/CheckMate.App/.vscode/*
/CheckMate.App/!.vscode/settings.json
/CheckMate.App/!.vscode/tasks.json
/CheckMate.App/!.vscode/launch.json
/CheckMate.App/!.vscode/extensions.json
/CheckMate.App/.history/*

# Miscellaneous
/CheckMate.App//.angular/cache
/CheckMate.App/.sass-cache/
/CheckMate.App/connect.lock
/CheckMate.App/coverage
/CheckMate.App/libpeerconnection.log
/CheckMate.App/testem.log
/CheckMate.App/typings

# System files
/CheckMate.App/.DS_Store
/CheckMate.App/Thumbs.db
