<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      @if (isHandset$ | async) {
        <div (click)="drawer.toggle()" class="toggle-container">
          <mat-icon>menu_open</mat-icon>
        </div>
      }
    </mat-toolbar>
    <mat-nav-list class="list">
      <a mat-list-item href="#">
        <div class="nav-menu-item">
          <div>
            <mat-icon>home</mat-icon>
          </div>
          <div class="menu-text">Home</div>
        </div>
      </a>
      <a mat-list-item href="#">
        <div class="nav-menu-item">
          <div>
            <mat-icon>monitoring</mat-icon>
          </div>
          <div class="menu-text">Dashboard</div>
        </div>
      </a>
      <a mat-list-item href="#">
        <div class="nav-menu-item">
          <div>
            <mat-icon>settings</mat-icon>
          </div>
          <div class="menu-text">Settings</div>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>CheckMate</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
