@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:wght@100&family=Special+Gothic+Condensed+One&display=swap';


html {
    @include mat.theme((
        color: (
            primary: mat.$rose-palette,
            tertiary: mat.$rose-palette,
            theme-type: light,
        ),
        typography: (
            plain-family: "Saira Condensed",
            brand-family: "Saira Condensed",
            bold-weight: 900,
            medium-weight: 500,
            regular-weight: 300,
        ),
        density: 0
    ));
}

html, body {
    height: 100%;
}

body {
    background-color: #FAF9F6;
    font-family: "Saira Condensed", "Helvetica Neue", sans-serif;
    margin: 0;
}

@include mat.core();
